@charset "ISO-8859-1";
<%--fixed--%>
body{
	margin:0;
	padding:0;
	font-family: sans-serif;
}


h1{
	text-align: center;
	width:500px;
	color:white;
	font-weight: 700;
	font-family:verdana;
	background-color:#5C3D77;
}

.element{
	position: relative;
	top:10px;
	bottom:10px;
	justify-content: center;
	border-radius:50px;
	background-color: #5C3D77;
	width:500px;
	height:350px;
	margin:50px;
	overflow: hidden
}

.element input[type="submit"]{
	float:right;
    color: #fff;
    background-color:#1d3f66 ;
    cursor:pointer;
}

.element input[type="text"]{
	text-align: center;
    color: #1d3f66;
    background-color: white;
    cursor:pointer;
}

.element input[type="password"]{
	text-align: center;
    color: #1d3f66;
    background-color: white;
    cursor:pointer;
}