@charset "ISO-8859-1";

body{
	margin:0;
	padding:0;
	font-family: sans-serif;
}

.element{
	position: relative;
	top:10px;
	bottom:10px;
	justify-content: center;
	border-radius:200px;
	background-color: #1d3f66;
	width:fit-content;
	height:fit-content;
	margin:15px;
	overflow: hidden
}

h1{
	width:500px;
	text-align: center;
	color:white;
	font-weight: 700;
	font-family:verdana;
	background-color:#1d3f66;
}

.element input[type="submit"]{
	float:right;
    color: #fff;
    background-color: #5C3D77 ;
    cursor:pointer;
}

.element input[type="text"]{
	text-align: center;
    color: #1d3f66;
    background-color: white;
    cursor:pointer;
}

.element input[type="password"]{
	text-align: center;
    color: #1d3f66;
    background-color: white;
    cursor:pointer;
}
