@charset "ISO-8859-1";
*{
  	font-family: Verdana;
}
H3 {
	text-align: center;
}

.grid-container {
	display: flex;
	justify-content: center;
	border-radius: 15px;
	grid-template-columns: auto;
	background-color: #1d3f66;
	width:fit-content;
	margin: 0 auto;
	overflow: hidden
	
}

.grid-item {
	background-color: #d1e1e8;
	justify-content: center;	
	border-radius: 15px;
	padding: 20px;
	font-size: 16px;
	text-align: left;
	border: medium;
	margin: 20px;
	width:auto;
}
.grid-item-item{
 padding: 2px; 

}

#error {
	color: maroon;
	font-weight: bold;	
}
p.results{
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.results{
  background-color: #d1e1e8;
  justify-content: center;
  width:90%;
  margin: 0 auto;
}